<h1 mat-dialog-title>Enter the amount of money you wish to deposit.</h1>
<div mat-dialog-content>
  <div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
      <h4 class="card-header" style="width:100%">Amount</h4>
      <div class="card-body">
        <form [formGroup]="amountForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input placeholder="amount" type="text" formControlName="amount" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"/>
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required">Amount is required</div>
            </div>
          </div>
          <button class="btn btn-success">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
