<div>
  <div class="section">
    <div *ngIf="!showDealerCard" class="ace-card">
      <p>dealer</p>
      <p *ngIf="dealer.getScore() > 0"> {{dealer.revealDeck()[0]}} </p>
      <p> Dealer hat {{dealer.revealDeck().length}} Karten. </p>
    </div>
  </div>

  <div class="section" *ngIf="showDealerCard">
    <div class="ace-card" *ngFor="let card of dealer.revealDeck()">
      <p>{{ card }}</p>
    </div>
  </div>
  <div class="section">
    <div class="buttons" *ngIf="betPlaced">
      <button [disabled]="!keepPlaying" class="plusButton" (click)="playRound(true)">Karte ziehen</button>
      <button [disabled]="!keepPlaying" class="minusButton" (click)="playRound(false)">Keine Karte</button>
    </div>
  </div>

  <div class="section">
    <div class="share">
      <input type="number" placeholder="Ihr Jeton-Einsatz" (change)="setBet($event)" [(ngModel)]="player.placedBet"
             [attr.disabled]="lockBet ? '' : null">
    </div>

    <div *ngIf="!keepPlaying">
      <p>Das Spiel ist vorbei.</p>
      <p>Sie haben {{ this.player.getFirstHand() }}</p>
      <p *ngIf="this.player.getFirstHand() ==21">Sie haben einen BlackJack erzielt!</p>
      <p *ngIf="isSplitted && this.player.getSecondHand() !=21">Sie haben auf der zweiten Hand {{ this.player.getSecondHand() }}</p>
      <p *ngIf="isSplitted && this.player.getSecondHand()==21">Sie haben einen BlackJack erzielt!</p>
      <p>Die Bank hat  {{ this.dealer.getScore() }}</p>
    </div>
  </div>
  <div *ngIf="keepPlaying" class="section">
    <button *ngIf="isSplitAvailable()" (click)="splitCard()">Split</button>
    <button *ngIf="isDoubleDownAvailable()" (click)="doubleDown()">Double Down</button>
  </div>

  <div class="section">
    <div class="ace-card" *ngFor="let card of this.player.revealDeck()">
      <p>{{ card }}</p>
    </div>
    <div class="ace-card red-card" *ngFor="let card of this.player.revealSecondDeck()">
      <p>Zweite Hand</p>
      <p>{{card}}</p>
    </div>
  </div>
</div>
