.ace-card {
  text-align: center;
  height: 200px;
  width: 100px;

  border-style: solid;
  border-radius: 3px;
}

.red-card {
  text-align: center;
  height: 200px;
  width: 100px;
  background-color: palevioletred;

  border-style: solid;
  border-radius: 3px;
}

.section {
  margin: 50px;
  display: flex;
}

button {
  border-radius: 50%;
}

.plusButton {
  margin-right: 20px;
  background-color: green;
}

.minusButton {
  background-color: indianred;
}

.share {
  right: auto;
}
