<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12 topNav">
      <a *ngIf="!currentUser" [ngClass]="{'active': isActive('/registration')}" href="registration">Registration</a>
      <a *ngIf="currentUser" [ngClass]="{'active': isActive('/games')}" href="games">Games</a>
      <a *ngIf="!currentUser" [ngClass]="{'active': isActive('/signin')}" href="signin">Sign In</a>
      <a *ngIf="currentUser" href="" class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
  <div *ngIf="currentUser" class="row" style="margin-top:100px">
    <div class="col-1">
      <button title="Add Jetons" class="block btn btn-success pull-right" (click)="addJetons()">
        <i class="fa fa-plus"></i>
      </button>
      <br/>
      <br/>
      <p>Jetons: {{currentUser.jetons}}</p>
    </div>
    <div class="col-1">
      <button title="Deposit" class="block btn btn-success pull-right" (click)="depositMoney()">
        <i class="fa fa-money"></i>
      </button>
      <br/>
      <br/>
      <p>Credit: {{currentUser.credit}}</p>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
