
.btn-success {
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #64c3c6;
}

.dropdown-content a {
  float: none;
  color: #64c3c6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-content a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #64c3c6;;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: contents;
}
