.centered {
  display: flex;
  border-style: solid;
  border-radius: 3px;
  background-color: darkred;
}

.gamebox {
  width: 20%;
  border-style: solid;
  border-radius: 3px;
  text-align: center;

  margin: 20px;

  font-size: 20px;
}
