<div class="centered">
  <div *ngFor="let game of games" class="gamebox" [routerLink]="['/', game.urlPath]" routerLinkActive="active">
    <a [routerLink]="['/', game.urlPath]" routerLinkActive="active">{{ game.name }}</a>
  </div>
</div>
